.main_header{
    width: 100%;
    background-color: #069;
}
.main_header_navigation{
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
}
.main_header_navigation a{
    color: #ffffff;
    padding: 10px;
}